streamlit
numpy
pandas
face_recognition @ git+https://github.com/thetoby9944/face_recognition 

sampling-utils
typing
streamlit-server-state
av
streamlit-webrtc
pathlib
google-cloud-storage
matplotlib
streamlit-authenticator == 0.1.5
opencv-python-headless
deta
st-pages
torch
torchvision
torchaudio
ultralytics
pydantic