streamlit
numpy
pickle
pandas
dlib-bin
face-recognition


pathlib
google-cloud
matplotlib
streamlit-authenticator == 0.1.5
opencv-python
deta
st-pages
torch
torchvision
torchaudio
ultralytics
pydantic